<router-outlet></router-outlet>








<!-- <div style="width: auto; height: 100%; position: relative; background: white">
  <div style="width: auto; padding-top: 120px; padding-bottom: 80px; padding-left: 100px; padding-right: 100px; left: 0px; top: 5203px; position: absolute; background: white; justify-content: center; align-items: flex-start; gap: 100px; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 40px; display: inline-flex">
      <img style="width: 96px; height: 96px" src="https://via.placeholder.com/96x96" />
      <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">© 2024 StreamHub, Inc.<br/>All rights reserved.</div>
    </div>
    <div style="flex: 1 1 0; height: 159px; justify-content: flex-start; align-items: center; gap: 30px; display: flex">
      <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
        <div style="color: #949396; font-size: 15px; font-family: Poppins; font-weight: 600; line-height: 15px; word-wrap: break-word">Explore</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Home</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">About</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Products</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Contact</div>
      </div>
      <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
        <div style="color: #949396; font-size: 15px; font-family: Poppins; font-weight: 600; line-height: 15px; word-wrap: break-word">Discover</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Home</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">About</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Products</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Contact</div>
      </div>
      <div style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
        <div style="color: #949396; font-size: 15px; font-family: Poppins; font-weight: 600; line-height: 15px; word-wrap: break-word">Connect</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Home</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">About</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Products</div>
        <div style="color: #949396; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Contact</div>
      </div>
    </div>
  </div>
  <div style="width: auto; height: 4433px; left: 0px; top: 770px; position: absolute; background: white">
    <div style="width: auto; height: 993px; padding-top: 167px; padding-bottom: 500px; padding-left: 141px; padding-right: 917px; left: 0px; top: 3440px; position: absolute; background-image: url(https://via.placeholder.com/1440x993); justify-content: flex-start; align-items: center; display: inline-flex">
      <div style="width: 382px; height: 326px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
        <div style="width: 382px; padding-bottom: 3px; justify-content: center; align-items: flex-start; gap: 100px; display: inline-flex">
          <div style="width: 247px; height: 34px; color: #2E2D2F; font-size: 28px; font-family: IBM Plex Mono; font-weight: 600; line-height: 33.60px; word-wrap: break-word">Explore the Possibilities</div>
          <div style="width: 35px; height: 20px; color: #A6B5DF; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Unlock the Difference</div>
        </div>
        <div style="width: 382px; height: 29px; color: #3D3A3E; font-size: 24px; font-family: Poppins; font-weight: 600; line-height: 28.80px; word-wrap: break-word">Discover StreamHub</div>
        <div style="width: 367px; height: 174px; color: #8F8F95; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 29px; word-wrap: break-word">StreamHub: Your Gateway to a Cinematic Wonderland. Explore a vast library of movies, TV shows, and live events, all meticulously curated to cater to your unique tastes. With seamless navigation, personalized recommendations, and cutting-edge features, StreamHub elevates your viewing experience to new heights</div>
      </div>
    </div>
    <div style="width: 1384px; height: 713px; left: 26px; top: 2695px; position: absolute; background: #030303; border-radius: 11px">
      <div style="width: 941px; height: 525px; left: 399px; top: 94px; position: absolute">
        <div style="width: 941px; height: 450px; left: 0px; top: 75px; position: absolute">
          <div style="width: 225px; height: 78px; left: 716px; top: 132px; position: absolute">
            <div style="width: 225px; height: 18px; left: 0px; top: 56px; position: absolute; color: #BAB8B5; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Discover the Future of Streaming</div>
            <div style="width: 225px; height: 70px; left: 0px; top: 0px; position: absolute; color: #FDFDFE; font-size: 58px; font-family: IBM Plex Mono; font-weight: 600; line-height: 69.60px; word-wrap: break-word">Elevate Your Viewing Experience</div>
          </div>
          <div style="width: 104px; height: 39px; left: 603px; top: 204px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
            <div style="flex: 1 1 0; align-self: stretch; padding: 12px; background: white; border-radius: 5px; justify-content: center; align-items: center; display: inline-flex">
              <div style="width: 80px; height: 15px; text-align: center; color: #929397; font-size: 12px; font-family: Poppins; font-weight: 600; line-height: 14.40px; word-wrap: break-word">Join the Revolution</div>
            </div>
          </div>
          <div style="width: 595px; height: 450px; padding-top: 350px; left: 0px; top: 0px; position: absolute; border-radius: 5px; background-image: url(https://via.placeholder.com/595x450); justify-content: center; align-items: center; display: inline-flex">
            <div style="flex: 1 1 0; align-self: stretch; padding-top: 18px; padding-bottom: 46px; padding-left: 74px; padding-right: 44.25px; background: white; border-radius: 8px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: inline-flex">
              <div style="width: 476.75px; height: 18px; color: #9F9D9D; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Unlock a World of Possibilities</div>
              <div style="width: 476.75px; height: 15px; color: #B1AFB0; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 14.40px; word-wrap: break-word">Discover the Difference with StreamHub</div>
            </div>
          </div>
        </div>
        <div style="width: 600px; left: 12px; top: 0px; position: absolute; justify-content: center; align-items: flex-start; gap: 100px; display: inline-flex">
          <div style="flex: 1 1 0; align-self: stretch; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 364px; height: 36px; color: #121112; font-size: 30px; font-family: IBM Plex Mono; font-weight: 600; line-height: 36px; word-wrap: break-word">Elevate Your Streaming</div>
          </div>
          <div style="width: 136px; height: 50px; justify-content: center; align-items: center; display: inline-flex">
            <div style="flex: 1 1 0; align-self: stretch; padding-left: 19px; padding-right: 19px; padding-top: 13.50px; padding-bottom: 13.50px; background: #316AEF; border-radius: 10px; justify-content: center; align-items: center; display: inline-flex">
              <div style="width: 98px; height: 23px; text-align: center; color: #A6C2F3; font-size: 19px; font-family: Poppins; font-weight: 600; line-height: 22.80px; word-wrap: break-word">Start Now</div>
            </div>
          </div>
        </div>
      </div>
      <img style="width: 147px; height: 127px; left: 223px; top: 293px; position: absolute" src="https://via.placeholder.com/147x127" />
      <div style="width: 102px; left: 87px; top: 339.50px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 102px; height: 38px; color: #FCFCFC; font-size: 31px; font-family: IBM Plex Mono; font-weight: 600; line-height: 37.20px; word-wrap: break-word">Embrace the Power of StreamHub</div>
      </div>
      <div style="width: 31px; height: 39px; left: 44px; top: 337px; position: absolute; flex-direction: column; justify-content: center; align-items: center; display: inline-flex">
        <img style="width: 31px; height: 39px" src="https://via.placeholder.com/31x39" />
      </div>
    </div>
    <div style="width: 1235px; height: 338px; left: 101px; top: 2300px; position: absolute">
      <div style="width: 243px; height: 327px; left: 992px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: center; gap: 27px; display: inline-flex">
        <div style="align-self: stretch; flex: 1 1 0; padding-top: 64px; padding-bottom: 33px; padding-left: 11.75px; padding-right: 16.75px; background: white; border: 1px #999698 solid; flex-direction: column; justify-content: flex-end; align-items: center; gap: 27px; display: inline-flex">
          <img style="width: 172px; height: 107px" src="https://via.placeholder.com/172x107" />
          <div style="height: 44px; padding-bottom: 3px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 5px; display: inline-flex">
            <div style="width: 206.50px; height: 18px; text-align: center; color: #6E6D6F; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Elevate Your Viewing</div>
            <div style="width: 206.50px; height: 18px; text-align: center; color: #999698; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Discover the Future</div>
          </div>
        </div>
        <div style="align-self: stretch; height: 25px; padding-bottom: 4px; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 243px; height: 21px; text-align: center; color: #747175; font-size: 17px; font-family: Poppins; font-weight: 400; line-height: 20.40px; word-wrap: break-word">Join the StreamHub Community</div>
        </div>
      </div>
      <div style="width: 210px; left: 745px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 28px; display: inline-flex">
        <div style="align-self: stretch; flex: 1 1 0; padding-top: 68px; padding-bottom: 33px; padding-left: 10.50px; padding-right: 11.50px; background: white; border: 1px #827D80 solid; flex-direction: column; justify-content: flex-end; align-items: center; gap: 32px; display: inline-flex">
          <img style="width: 106px; height: 99px" src="https://via.placeholder.com/106x99" />
          <div style="height: 43px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 6px; display: inline-flex">
            <div style="width: 188px; height: 18px; text-align: center; color: #827D80; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Explore the Possibilities</div>
            <div style="width: 188px; height: 20px; text-align: center; color: #A19EA1; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Discover the Difference</div>
          </div>
        </div>
        <div style="width: 206px; height: 25px; padding-bottom: 1px; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 206px; height: 24px; text-align: center; color: #767277; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 24px; word-wrap: break-word">Unlock a Universe of Entertainment</div>
        </div>
      </div>
      <div style="width: 197px; left: 509px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 20px; display: inline-flex">
        <div style="align-self: stretch; flex: 1 1 0; padding-top: 70px; padding-bottom: 31px; padding-left: 9.85px; padding-right: 11.85px; background: white; border: 1px #868588 solid; flex-direction: column; justify-content: flex-end; align-items: center; gap: 33px; display: inline-flex">
          <img style="width: 132px; height: 94px" src="https://via.placeholder.com/132x94" />
          <div style="width: 175.30px; height: 45px; padding-bottom: 1px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 3px; display: inline-flex">
            <div style="width: 175.30px; height: 21px; text-align: center; color: #868588; font-size: 17px; font-family: Poppins; font-weight: 400; line-height: 20.40px; word-wrap: break-word">Unlock a World of Possibilities</div>
            <div style="width: 175.30px; height: 20px; text-align: center; color: #989597; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Discover the Future</div>
          </div>
        </div>
        <div style="width: 192px; height: 45px; padding-left: 7px; padding-right: 7px; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 178px; height: 46px; text-align: center; color: #767377; font-size: 17px; font-family: Poppins; font-weight: 400; line-height: 23px; word-wrap: break-word">Immerse Yourself in the Ultimate Streaming Destination</div>
        </div>
      </div>
      <div style="width: 203px; left: 263px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 27px; display: inline-flex">
        <div style="align-self: stretch; flex: 1 1 0; padding-top: 67px; padding-bottom: 33px; padding-left: 15.15px; padding-right: 10.15px; background: white; border: 1px #7E7A7E solid; flex-direction: column; justify-content: flex-end; align-items: center; gap: 30px; display: inline-flex">
          <img style="width: 129px; height: 101px" src="https://via.placeholder.com/129x101" />
          <div style="height: 44px; padding-bottom: 3px; flex-direction: column; justify-content: center; align-items: flex-start; gap: 5px; display: inline-flex">
            <div style="width: 177.70px; height: 18px; text-align: center; color: #7E7A7E; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Explore the Future of Entertainment</div>
            <div style="width: 177.70px; height: 18px; text-align: center; color: #9E9D9D; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Elevate Your Streaming Experience</div>
          </div>
        </div>
        <div style="height: 26px; padding-bottom: 3px; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 199px; height: 23px; text-align: center; color: #727073; font-size: 19px; font-family: Poppins; font-weight: 500; line-height: 22.80px; word-wrap: break-word">Discover the Difference</div>
        </div>
      </div>
      <div style="width: 222px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 28px; display: inline-flex">
        <div style="align-self: stretch; flex: 1 1 0; padding-top: 61px; padding-bottom: 32px; padding-left: 11.10px; padding-right: 14.10px; background: white; border: 1px #858486 solid; flex-direction: column; justify-content: flex-end; align-items: center; gap: 27px; display: inline-flex">
          <img style="width: 173px; height: 110px" src="https://via.placeholder.com/173x110" />
          <div style="width: 196.80px; height: 44px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
            <div style="width: 196.80px; height: 24px; text-align: center; color: #858486; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 24px; word-wrap: break-word">Elevate Your Viewing</div>
            <div style="width: 196.80px; height: 18px; text-align: center; color: #9F9D9E; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">Discover the Difference</div>
          </div>
        </div>
        <div style="height: 25px; padding-bottom: 5px; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 214px; height: 20px; text-align: center; color: #737272; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Unlock a World of Possibilities</div>
        </div>
      </div>
    </div>
    <div style="width: 1244px; height: 526px; left: 105px; top: 1603px; position: absolute">
      <div style="height: 218px; left: 809px; top: 218px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 29px; display: inline-flex">
        <div style="width: 435px; height: 54px; color: #383637; font-size: 45px; font-family: IBM Plex Mono; font-weight: 600; line-height: 54px; word-wrap: break-word">Discover the Ultimate Streaming Destination</div>
        <div style="width: 435px; height: 138px; color: #6E6C71; font-size: 21px; font-family: Poppins; font-weight: 500; line-height: 34.33px; word-wrap: break-word">StreamHub: Your Gateway to a Cinematic Wonderland. Explore a vast library of movies, TV shows, and live events, all meticulously curated to cater to your unique tastes</div>
      </div>
      <div style="height: 526px; padding-top: 391px; padding-bottom: 51px; padding-left: 39px; padding-right: 408px; left: 0px; top: 0px; position: absolute; border-radius: 11px; background-image: url(https://via.placeholder.com/689x526); justify-content: flex-start; align-items: center; display: inline-flex">
        <div style="width: 242px; align-self: stretch; padding-top: 19px; padding-bottom: 24px; padding-left: 74px; padding-right: 40px; background: white; border-radius: 84px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 3px; display: inline-flex">
          <div style="width: 108px; height: 18px; color: #939191; font-size: 15px; font-family: Poppins; font-weight: 400; line-height: 18px; word-wrap: break-word">StreamHub: Redefining the Future of Entertainment</div>
          <div style="width: 128px; height: 20px; color: #9D999C; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 19.20px; word-wrap: break-word">Immerse Yourself in Endless Possibilities</div>
        </div>
      </div>
    </div>
    <div style="width: 1247px; height: 319px; left: 90px; top: 1186px; position: absolute">
      <img style="width: 271px; height: 319px; left: 976px; top: 0px; position: absolute" src="https://via.placeholder.com/271x319" />
      <div style="width: 269px; height: 318px; left: 665px; top: 0px; position: absolute; background: #C4C4C4">
        <div style="width: 236.10px; left: 19.45px; top: 255px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
          <div style="width: 236.10px; height: 32px; text-align: center; color: #111012; font-size: 26px; font-family: IBM Plex Mono; font-weight: 600; line-height: 31.20px; word-wrap: break-word">Elevate Your Streaming</div>
        </div>
        <img style="width: 186px; height: 91px; left: 54px; top: 80px; position: absolute" src="https://via.placeholder.com/186x91" />
      </div>
      <div style="height: 182px; padding-bottom: 1px; left: 0px; top: 0px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: inline-flex">
        <div style="width: 565px; height: 56px; color: #302E30; font-size: 46px; font-family: IBM Plex Mono; font-weight: 600; line-height: 55.20px; word-wrap: break-word">Explore the Possibilities</div>
        <div style="width: 510px; height: 101px; color: #6F6E71; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 33.50px; word-wrap: break-word">Unlock a Universe of Entertainment: StreamHub Offers Unparalleled Streaming Access. Discover a vast library of movies, TV shows, and live events curated to satisfy your every entertainment desire</div>
      </div>
    </div>
    <div style="width: auto; height: 854px; left: 0px; top: 104px; position: absolute">
      <div style="width: 1363px; height: 567px; left: 77px; top: 287px; position: absolute">
        <img style="width: 272px; height: 567px; left: 1090.94px; top: 0px; position: absolute" src="https://via.placeholder.com/272x567" />
        <img style="width: 414px; height: 567px; left: 677px; top: 0px; position: absolute" src="https://via.placeholder.com/414x567" />
        <div style="padding-right: 38px; left: 0px; top: 17px; position: absolute; flex-direction: column; justify-content: center; align-items: flex-start; gap: 34px; display: inline-flex">
          <div style="width: 522px; height: 219px; color: #2A282A; font-size: 39px; font-family: IBM Plex Mono; font-weight: 600; line-height: 54.67px; word-wrap: break-word">Unlock a World of Endless Entertainment: Discover the Power of StreamHub</div>
          <div style="width: 539px; height: 134px; color: #6E6D70; font-size: 20px; font-family: Poppins; font-weight: 500; line-height: 33.33px; word-wrap: break-word">StreamHub is your gateway to a captivating world of entertainment. Immerse yourself in a diverse array of movies, TV shows, documentaries, and live events, all optimized for seamless streaming and unrivaled quality</div>
          <div style="height: 62px; padding-top: 15.50px; padding-bottom: 5.50px; padding-left: 30px; padding-right: 30px; background: white; border: 1px #757477 solid; justify-content: center; align-items: center; display: inline-flex">
            <div style="width: 247px; height: 41px; text-align: center; color: #757477; font-size: 17px; font-family: Poppins; font-weight: 600; line-height: 20.40px; word-wrap: break-word">Join Now</div>
          </div>
        </div>
        <div style="width: 564px; height: 114px; left: 728px; top: 198px; position: absolute; text-align: center; color: white; font-size: 95px; font-family: IBM Plex Mono; font-weight: 600; line-height: 114px; word-wrap: break-word">Taciti di.</div>
      </div>
      <div style="width: 1434px; padding-left: 330px; padding-right: 330px; left: 0px; top: 0px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 774px; height: 120px; text-align: center; color: #302E30; font-size: 48px; font-family: IBM Plex Mono; font-weight: 600; line-height: 60px; word-wrap: break-word">Elevate Your Viewing Experience with StreamHub</div>
      </div>
    </div>
  </div>
  <div style="width: auto; height: 688px; padding-left: 362px; padding-right: 362px; padding-top: 182px; padding-bottom: 182px; left: 0px; top: 82px; position: absolute; background-image: url(https://via.placeholder.com/1440x688); justify-content: center; align-items: center; display: inline-flex">
    <div style="width: 716px; height: 324px; position: relative; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: flex">
      <div style="width: 535px; height: 130px; text-align: center; color: #FEFEFF; font-size: 58px; font-family: IBM Plex Mono; font-weight: 600; line-height: 65px; word-wrap: break-word">Immerse Yourself in Streaming Excellence</div>
      <div style="width: 716px; height: 68px; text-align: center; color: #C1C0C1; font-size: 21px; font-family: Poppins; font-weight: 500; line-height: 34px; word-wrap: break-word">Discover the ultimate video streaming platform that delivers unparalleled entertainment. Explore a vast library of movies, TV shows, and live events, all at your fingertips</div>
      <div style="width: 193px; padding-top: 17px; padding-bottom: 22px; padding-left: 34px; padding-right: 34px; background: #212225; border-radius: 62px; border: 1px #616264 solid; justify-content: center; align-items: center; display: inline-flex">
        <div style="width: 125px; height: 23px; text-align: center; color: #BABABB; font-size: 19px; font-family: Poppins; font-weight: 600; line-height: 22.80px; word-wrap: break-word">Start Streaming</div>
      </div>
    </div>
  </div>
  <div style="width: auto; height: 70px; padding-left: 100px; padding-right: 100px; left: 0px; top: 0px; position: absolute; background: white; justify-content: space-between; align-items: center; display: inline-flex">
    <div style="justify-content: flex-start; align-items: center; gap: 4px; display: flex">
      <img style="width: 48px; height: 48px" src="https://via.placeholder.com/48x48" />
      <div style="color: black; font-size: 24px; font-family: DM Sans; font-weight: 700; line-height: 24px; word-wrap: break-word">StreamHub</div>
    </div>
    <div style="justify-content: flex-end; align-items: center; gap: 30px; display: flex">
      <div style="color: #717074; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Home</div>
      <div style="color: #717074; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">About</div>
      <div style="color: #717074; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Products</div>
      <div style="color: #717074; font-size: 16px; font-family: Poppins; font-weight: 400; line-height: 16px; word-wrap: break-word">Contact</div>
      <div style="width: 73px; padding-left: 20px; padding-right: 20px; background: white; border-radius: 5px; border: 1px #B0AEB0 solid; justify-content: center; align-items: center; display: flex">
        <div style="text-align: center; color: #716E74; font-size: 16px; font-family: Poppins; font-weight: 600; line-height: 16px; word-wrap: break-word">FAQ</div>
      </div>
    </div>
  </div>
</div> -->